apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  labels:
    app: web-app
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:             
    matchLabels:        
      app: web-app
  template:             
    metadata:
      labels:
        app: web-app
    spec:               
      containers:
      - name: nginx-containers
        image: nginx:1.23
        ports:
        - containerPort: 80
        resources:
          requests: 
            memory: "64Mi"
            cpu: "250m"  
          limits:              
            memory: "128Mi" 
            cpu: "500m"  